
.mess{
    border-radius: 10px;
    margin-bottom: 4px;
    margin-top: 10px;
    white-space: pre-wrap;
    padding: 10px;
}
.msg{
    color: black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: bisque;
}
.messBox{
    width: 100%;
    height: 40px;   
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: palevioletred;
    border-radius: 10px;
}
.messButton{
    height: 30px;
}

