<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="images">
    <ion-img src="assets/images/img1.jpg"></ion-img>
    <ion-img src="assets/images/img2.jpg"></ion-img>
    <ion-img src="assets/images/img3.jpg"></ion-img>
    <ion-img src="assets/images/img4.jpg"></ion-img>
    <ion-img src="assets/images/img5.jpg"></ion-img>
    <ion-img src="assets/images/img6.jpg"></ion-img>
    <ion-img src="assets/images/img7.jpg"></ion-img>
    <ion-img src="assets/images/img8.jpg"></ion-img>
    <ion-img src="assets/images/img9.jpg"></ion-img>
    <ion-img src="assets/images/img10.jpg"></ion-img>
    <ion-img src="assets/images/img11.jpg"></ion-img>
    <ion-img src="assets/images/img12.jpg"></ion-img>
    <ion-img src="assets/images/img13.jpg"></ion-img>
    <ion-img src="assets/images/img14.jpg"></ion-img>
    <ion-img src="assets/images/img15.jpg"></ion-img>
  </div>
</ion-content>
