ion-img{
    height: 130px;
    width: 250px;
    margin: 20px;
    padding: 10px;

}
.prof{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3px;
    background-color: bisque;
}