<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTACT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CONTACT</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="contact">
    <ion-img src="assets/images/contact1.png"></ion-img>
    <h5>Mobile Number: 09488702842</h5>
    <ion-img src="assets/images/gmail.png"></ion-img> 
    <h5>Gmail Account: salinasandonna35@gmail.com</h5>
    <ion-img src="assets/images/fb1.png"></ion-img> 
    <h5>Facebook Account: Donna Arcagua Salinasan</h5>
    <ion-img src="assets/images/IG.png"></ion-img> 
    <h5>Instagram Account: @donnasalinasan</h5>
  </div>  




</ion-content>
